<!-- <button (click)="buttonClicked()">Click Me</button> -->

<br>
<div fxLayout='row' fxLayoutAlight="space-around">
    <div fxLayout='row' fxLayoutWrap fxLayoutAlign="space-evenly space-between">

    <div *ngFor='let lift of lifts' fxFlex='0 1 calc(300px-25px)'>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{lift.name}}</mat-card-title>
          <mat-card-subtitle>{{lift.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <!-- <p>
              This is a card.
            </p> -->
        </mat-card-content>
        <mat-card-actions>
          <button (click)="getDetails()" mat-raised-button color="primary">Get Details</button>
          <button (click)="draw()" mat-raised-button color="primary">Draw</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>

  <div fxFlex='0 1 calc(600-25px)'>
      <mat-card>
        <canvas #myCanvas width="512px" height="424px" style=" background: #0C0C0C"></canvas>
      </mat-card>
    </div>




</div>