  <mat-grid-list cols="5" rowHeight="500px" >
      <mat-grid-tile *ngFor="let lift of lifts">
      <mat-card>
          <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
          <mat-card-content>
            <h2>
              {{lift.title}}
            </h2>
            <p>
              {{lift.type}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>
              VIEW
            </button>
          </mat-card-actions>
      </mat-card>
      </mat-grid-tile>
    </mat-grid-list>


