  .carddemoBasicUsage .card-media {
    background-color: #999999; }
  

    .example-header-image {
      background-image: url('http://www.iconninja.com/files/373/611/612/person-user-profile-male-man-avatar-account-icon.svg');
      background-size: cover;
    }