<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username" name="username">
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" >
  </mat-form-field>
</form>

<button mat-raised-button (click)="loginClicked()" color="primary">Log In</button>
<button mat-raised-button color="primary">Register</button>
<p class="mat-body-1">Forgot your password?</p>
<p class="mat-body-1">Your username is {{username}}</p>